<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<div th:fragment="headerCss">
<link th:href="@{/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link th:href="@{/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/clockface/css/clockface.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/global/plugins/morris/morris.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/fullcalendar/fullcalendar.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/jqvmap/jqvmap/jqvmap.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/global/plugins/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/jquery-multi-select/css/multi-select.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/global/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/global/plugins/bootstrap-sweetalert/sweetalert.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/global/plugins/icheck/skins/all.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/global/plugins/Guriddo_jqGrid_JS_5.2.0/css/ui.jqgrid-bootstrap-ui.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/Guriddo_jqGrid_JS_5.2.0/css/ui.jqgrid-bootstrap.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/bootstrap-modal/css/bootstrap-modal.css}" rel="stylesheet" type="text/css" />

        
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN THEME GLOBAL STYLES -->
<link th:href="@{/global/css/components.css}" rel="stylesheet" id="style_components" type="text/css" />
<link th:href="@{/global/css/plugins.min.css}" rel="stylesheet" type="text/css" />

<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link th:href="@{/layouts/layout/css/layout.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/layouts/layout/css/themes/darkblue.css}" rel="stylesheet" type="text/css" id="style_color" />
<link th:href="@{/layouts/layout/css/custom.css}" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->
</div>
</html>
